<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @video.titulo %>
</p>
<%= video_tag @video.video ,controls: true, autobuffer: true %>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
